body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "YeongdeokSnowCrab";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;

  /* min-height: 100vh;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  } */
}

::-webkit-scrollbar { 
  display: none; 
}

code {
  font-family: "YeongdeokSnowCrab";
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

@font-face {
  font-family: "YeongdeokSnowCrab";
  font-weight: normal;
  src: url("./fonts/YeongdeokSnowCrab.ttf") format("truetype");
}